
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script>

function buttonClicked1(){
  const modelViewer = document.querySelector('#viewer');
  modelViewer.animationName='Action_01';
}
function buttonClicked2(){
  const modelViewer = document.querySelector('#viewer');
  modelViewer.animationName='Action_02';
}
function buttonClicked3(){
  console.log('test1');
   document.getElementById("viewer").animationName='Action_03'
}
function buttonClicked4(){
  const modelViewer = document.querySelector('#viewer');
  modelViewer.animationName='Action_04';
}

window.onload=function(){
  var btn1 = document.getElementById("Hotspot1");
  btn1.addEventListener("click", buttonClicked1, true);
  var btn2 = document.getElementById("Hotspot2");
  btn2.addEventListener("click", buttonClicked2, true);
   var btn3 = document.getElementById("Hotspot3");
  btn3.addEventListener("click", buttonClicked3, true);
   var btn4 = document.getElementById("Hotspot4");
  btn4.addEventListener("click", buttonClicked4, true);
}
</script>

<model-viewer  id ="viewer" src="https://interaktive10.github.io/hosted-assets/Collar_Animation.glb" 
ios-src="https://puvanesh07.github.io/Interaktive_Files/Collar_Animation.usdz" style="width: 100%; top: 0px" animation-name="Action_01"
     alt="A 3D model" preload  autoplay ar ar-modes=" webxr quick-look scene-viewer" 
     shadow-intensity="5" exposure="2" interaction-prompt="auto" 
     camera-controls autoplay="true" quick-look-browsers="safari chrome" 
     camera-orbit="0deg 75deg auto" min-field-of-view="10deg" max-field-of-view="100deg" 
     min-camera-orbit="auto 0deg 80%" max-camera-orbit="auto 180deg 100%"> 
    
   <button id="Hotspot1"  slot="hotspot-2" data-position="-0.13883578039164687m 0.046501643280209705m 0.03809999775611855m" data-normal="0m -1.654361375336658e-23m 1m" data-visibility-attribute="visible">
        <div class="HotspotAnnotation" >Action_1</div>
    </button>
  
  <button id="Hotspot2" slot="hotspot-3" data-position="-0.13952048603659767m 0.009489359526727068m 0.038099997756118734m" data-normal="0m -1.654361375336658e-23m 1m" data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Action_2</div>
    </button>
  
  <button id="Hotspot3" slot="hotspot-4" data-position="0.05895943842745072m 0.04563908365935706m 0.03809999775611864m" data-normal="0m -1.654361375336658e-23m 1m" data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Action_3</div>
    </button>
                                      <button id="Hotspot4" slot="hotspot-5" data-position="0.06082295419385537m 0.009614951138308419m 0.038099997756118734m" data-normal="0m -1.654361375336658e-23m 1m" data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Action_4</div>
    </button>
    
    
    
  
</model-viewer>




<style>
    model-viewer {
        height: 450px;
        width: 100%;
        margin: 0 auto;

    }
</style>
